<div id="wrap">
  <button
    class="bttn bttn-dark"
    [routerLink]="['/auctions/34']"
    routerLinkActive="router-link-active"
  >
    Back
  </button>
  <div id="categoriez">
    <div id="listSide">
      <h2>Categories</h2>
      <ul>
        <li><a href="#">Autos/Transportation</a></li>
        <li><a href="#">Fashion/Accessories</a></li>
        <li><a href="#">Electronics/Tech</a></li>
        <li><a href="#">Toys/Games</a></li>
        <li><a href="#">Household/Outdoors</a></li>
        <li><a href="#">Art/Music</a></li>
        <li><a href="#">Books/Comics</a></li>
        <li><a href="#">Shoes/Clothing</a></li>
        <li><a href="#">Collectables</a></li>
      </ul>
    </div>
  </div>
</div>
