<div id="wrap">
  <div id="side">
    <h2 id="catClick">Categories</h2>
    <ul>
      <li>
        <a [routerLink]="['/home', 'cars']">Automobiles/Transportations</a>
      </li>
      <li>
        <a [routerLink]="['/home', 'accessories']">Fashion/Accessories</a>
      </li>
      <li><a [routerLink]="['/home', 'tech']">Electronics/Tech</a></li>
      <li><a [routerLink]="['/home', 'toysgames']">Toys/Games</a></li>
      <li><a [routerLink]="['/home', 'house']">Household/Outdoors</a></li>
      <li><a [routerLink]="['/home', 'artmusic']">Art/Music</a></li>
      <li><a [routerLink]="['/home', 'bookscomics']">Books/Comics</a></li>
      <li><a [routerLink]="['/home', 'shoes']">Shoes/Clothing</a></li>
      <li><a [routerLink]="['/home', 'collect']">Collectables</a></li>
    </ul>
    <button class="bttn bttn-ltBlue" id="hideBtn">Close</button>
  </div>
  <div id="show">
    <div id="carousel">
      <div
        ng2-carouselamos
        class="slides-wrapper"
        [items]="items"
        [width]="900"
        [$prev]="prev"
        [$next]="next"
        [$item]="item"
      ></div>
      <ng-template #prev>
        <i class="fas fa-chevron-left fa-3x" id="left"></i>
      </ng-template>
      <ng-template #next>
        <i class="fas fa-chevron-right fa-3x" id="right"></i>
      </ng-template>
      <ng-template #item let-item let-i="index">
        <div class="items"><img src="{{ item.image }}" /></div>
      </ng-template>
    </div>

    <div id="auctions">
      <div *ngFor="let auc of auctions" class="auction">
        <img src="{{auc.image}}" alt="" />
        <div id="cardInfo">
          <h3>{{ auc.item_name }}</h3>
          <p>Current bid:</p>
          <h2>$24.99</h2>
          <p>Time left:</p>
          <h2>12:31:09</h2>
        </div>
        <div id="cardBtns">
          <button class="bttn bttn-green">Bid Now</button>
          <button
            [routerLink]="['/auctions', auc._id]"
            routerLinkActive="router-link-active"
            class="bttn bttn-ltBlue"
          >
            View Auction
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
