<div id="wrap">
  <div id="leftSide">
    <app-similar-items *ngIf="!isMenuVisible" [auction]="auction" [similarAuctions]="similarAuctions" (anEventEmitter)="dataFromChild($event)"></app-similar-items>
    <app-auction-menu *ngIf="isMenuVisible" (anEventEmitter)="dataFromChild($event)"></app-auction-menu>
  </div>
  <div id="rightSide">
    <h2>{{auction.item_name}}</h2>
    <div id="currentInfo">
      <h3>Current High Bidder: <span id="highBid">Justin</span></h3>
      <h1>$25.00</h1>
      <h3>Time Left:</h3>
      <h1 id="timeer">2 d. 1 hr. 4 min. 32 s.</h1>
    </div>
    <form>
      <input class="inputs" type="number" min="26" value="26" />
      <button class="bttn bttn-ltBlue">1-Up</button>
    </form>
    <img src="{{auction.image}}" alt="{{auction.item_name}}" />
  </div>
</div>
