<div id="wrap">
  <h1>Edit User Profile</h1>
  <p *ngIf="errors.first_name != undefined">{{ errors.first_name.message }}</p>
  <p *ngIf="errors.last_name != undefined">{{ errors.last_name.message }}</p>
  <p *ngIf="errors.email != undefined">{{ errors.email.message }}</p>
  <form (submit)="updateUserById()">
    <div class="formDiv">
      <p>First Name:</p>
      <input
        class="inputs"
        type="text"
        name="childEditProfile.first_name"
        [(ngModel)]="childEditProfile.first_name"
        value="{{childEditProfile.first_name}}"
      />
    </div>
    <div class="formDiv">
      <p>Last Name:</p>
      <input
        class="inputs"
        type="text"
        name="childEditProfile.last_name"
        [(ngModel)]="childEditProfile.last_name"
        value="{{childEditProfile.last_name}}"
      />
    </div>
    <div class="formDiv">
      <p>Email:</p>
      <input
        class="inputs"
        type="text"
        name="childEditProfile.email"
        [(ngModel)]="childEditProfile.email"
        value="{{childEditProfile.email}}"
      />
    </div>
    <button class="bttn bttn-green">Edit</button>
  </form>
</div>
