#wrap {
  display: flex;
  flex-direction: column;
}

#auctions {
  padding: 10px;
  background-color: rgb(93, 93, 93);
  margin: 5px;
  border-radius: 6px;
}

#desc {
  display: flex;
  justify-content: space-between;
}

h1 {
  letter-spacing: 5px;
  color: rgb(0, 174, 255);
  text-shadow: 0px 8px 5px black;
  font-size: 25pt;
  margin-bottom: 10px;
}

p {
  margin: 5px;
}