<div id="wrap">
  <div id="bidHist">
    <h4>Bid History</h4>
    <hr />
    <ul>
      <li *ngFor="let bid of this.auction.bids"><p>{{bid.name}} - ${{bid.amount}} - {{bid.createdAt}}</p></li>
    </ul>
  </div>
  <button class="bttn bttn-ltBlue" (click)="openMenu($event)">
    Browse other Categories
  </button>
  <h2>Other <span id="theOthers">1-Uppers</span> also viewed...</h2>
  <div id="similarItems">
    <div *ngFor="let item of similarAuctions" class="cards">
      <img src="{{item.image}}" alt="" />
      <h3>{{item.item_name}}</h3>
      <p>Current Bid: $12.00</p>
      <button [routerLink]="['/auctions', item._id]" class="bttn bttn-ltBlue">View</button>
    </div>
  </div>
</div>